.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 10000;
}

.mat-list-item .mat-icon {
    margin-right: 8px;
}

.content__wrapper {
    margin: 24px;
}
