<mat-card>
    <mat-card-header>
        <mat-card-title>Import your bank transactions file</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="file-selector" fxLayout="column" fxLayoutAlign="center start">
            <p>
                If your bank supports an export of your transactions, you can upload the file here and the transactions will be imported into the software.
                Select your bank and then select the .csv file you want to import, and press import.
            </p>

            <div>
                <mat-form-field>
                    <mat-select
                        [(value)]="selectedBank"
                        [placeholder]="'Select your bank'"
                    >
                        <mat-option [value]="'Rabobank'">Rabobank</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button (click)="addFile()">Select file</button>
                <input type="file" style="display: none" #file accept=".csv" (change)="onFilesAdded()"/>
                <span>{{getFileName()}}</span>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-raised-button
            color="primary"
            (click)="importTransactions()"
            [disabled]="importFile === null"
        >
            Import
        </button>
    </mat-card-actions>
</mat-card>
