/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/material-theme";

html,
body,
material-app,
mat-sidenav-container,
app-root {
    margin: 0;
    width: 100%;
    height: 100%;
}

mat-sidenav.mat-sidenav-fixed {
    @include mat-elevation(16);
}

.page__wrapper {
    margin: 24px;
}
